/* src/styles/global.css */

:root {
    --bg-color: #ffffff;
    --border-color: #eaeaea;
    --action-border-color: #000000;
    --secondary-bg: #f5f5f5;
    --gray-light: #f4f4f4;
    --accent: #232946;
    --accent-light: #eebbc3;
    --accent-dark: #b8c1ec;
    --brand-primary: #0056b3;
    --text-color: #222222;
    --text-muted: #595959;
    --accent-color: #0056b3;
    --code-bg: #f5f5f5;
}

html.dark {
    --bg-color: #0d1b2a;
    --border-color: #2d3b4f;
    --action-border-color: #2d3b4f;
    --secondary-bg: #162a40;
    --text-color: #f0f0f0;
    --text-muted: #a1a1a1;
    --accent-color: #3ea6ff;
    --code-bg: #1e293b;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Inter Variable", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden; /* Empêche le scroll horizontal */
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

main {
    width: 100%; 
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem;
}


a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Important pour que le titre ne soit pas caché par le Header fixe ! */
}