---
import Layout from '../../layouts/Layout.astro';
import ThanksWrapper from '../../components/ThanksWrapper.astro';
---

<Layout title="Message sent! | vbesse.com">
  <ThanksWrapper>
    <div class="icon">✅</div>
    <h1>Thank you!</h1>
    <p>Your message has been sent successfully. I'll do my best to get back to you within 48 hours.</p>
    
    <a href="/en/" class="button primary">Back to home</a>
  </ThanksWrapper>
</Layout>