---
import Analytics from "@vercel/analytics/astro";
import BaseHead from "../components/BaseHead.astro"; // <-- Le nouveau chef d'orchestre
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {
    title = "Le Blog de Valentin Besse",
    description = "Bienvenue sur mon blog tech. On parle de code, d'Astro et de legacy.",
    image,
    schema,
} = Astro.props;
---

<!doctype html>
<html lang="fr">
    <head>
        <BaseHead
        title={title}
        description={description}
        image={image}
        schema={schema}
        />
    </head>
    <body>
        <a href="#main-content" class="skip-link">Aller au contenu principal</a>
        <Header />
        <main id="#main-content">
            <slot />
        </main>
        <Footer />
        <Analytics />
    </body>
</html>

<style>
    .skip-link {
    position: absolute;
    top: -40px; /* Caché par défaut */
    left: 0;
    background: var(--accent-color);
    color: white;
    padding: 8px;
    z-index: 100;
    transition: top 0.3s;
  }
  .skip-link:focus {
    top: 0; /* Apparaît uniquement quand on tabule dessus */
  }
</style>
