---
import Analytics from "@vercel/analytics/astro";
import BaseHead from "../components/BaseHead.astro"; // <-- Le nouveau chef d'orchestre
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {
    title = "Le Blog de Valentin Besse",
    description = "Bienvenue sur mon blog tech. On parle de code, d'Astro et de legacy.",
    image,
} = Astro.props;
---

<!doctype html>
<html lang="fr">
    <head>
        <BaseHead title={title} description={description} image={image} />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
        <Analytics />
    </body>
</html>